/* Begin Common classes */

.c1 {
    color:#22577A;
}
.c2 {
    color:#38A3A5;
}
.c3 {
    color:#57CC99;
}
.c4 {
    color:#80ED99;
}

.bg-c3 {
    background-color: #57CC99;
}

.center{
    text-align: center;
}

ul,ol,li{
    list-style: none;
}

.btn{
  background-color: whitesmoke; 
  border-radius: 8px;
  border-width:0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 20px;
  text-align: center;
  vertical-align: baseline;
  font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;
}
/* End Common classes */

body {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;
}